<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Users</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.js">
</script>
<style>
  
table{
	border-spacing: 0px;
	width: 100%;
}thead{
  background-color: rgb(33, 36, 82);
  color: aliceblue;
}
.table td, .table th{
	padding: .75em;
	vertical-align: top;
	text-align: center;
	border-top: 1px blue;
  margin: .2em;
}
</style>
<body>
  <table id="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Work</th>
      </tr>
    </thead>
    <tbody id="tbody">
        <th>suraj</th>
        <th>surajnanda334@gmail.com</th>
        <th>21</th>
        <th>Male</th>
        <th>Front-end</th>
    </tbody>
  </table>
  <%= users%>
  
</body>
<script src="./show.js"></script>
</html>